{% extends 'base.html.twig' %}

{% block title %}Hello Participant!{% endblock %}

{% block body %}

    <section class="mt-32 pb-32 text-center">

        <a class="tw_btn block w-1/2 mx-auto" href="{{ path('app_participant_profil')}}">Back</a>

        <h1 class="tw_h1 mt-4 mb-4">Let's customize your lair !</h1>

            

            {{ form_start(form) }}

            <div class="border-2 rounded-lg w-11/12 bg-lime-100 flex flex-col items-center mx-auto">

                <div class="tw_formItem">
                    {{ form_label(form.name,null,{
                        'label_attr':{'class':'text-xl'}
                    })}}
                    {{ form_widget(form.name,{
                        'attr':{'class':'tw_input'}
                    }) }}
                    <div class="tw_error">
                        {{ form_errors(form.name) }}
                    </div>
                </div>
                
                <div class="tw_formItem">
                    {{ form_label(form.firstName,null,{
                        'label_attr':{'class':'text-xl'}
                    })}}
                    {{ form_widget(form.firstName,{
                        'attr':{'class':'tw_input'}
                    }) }}
                    <div class="tw_error">
                        {{ form_errors(form.firstName) }}
                    </div>
                </div>

                <div class="tw_formItem">
                    {{ form_label(form.username,null,{
                        'label_attr':{'class':'text-xl'}
                    })}}
                    {{ form_widget(form.username,{
                        'attr':{'class':'tw_input'}
                    }) }}
                    <div class="tw_error">
                        {{ form_errors(form.username) }}
                    </div>
                </div>

                <div class="tw_formItem">
                    {{ form_label(form.email,null,{
                        'label_attr':{'class':'text-xl'}
                    })}}
                    {{ form_widget(form.email,{
                        'attr':{'class':'tw_input'}
                    }) }}
                    <div class="tw_error">
                        {{ form_errors(form.email) }}
                    </div>
                </div>

                <div class="tw_formItem">
                    {{ form_label(form.phone,null,{
                        'label_attr':{'class':'text-xl'}
                    })}}
                    {{ form_widget(form.phone,{
                        'attr':{'class':'tw_input'}
                    }) }}
                    <div class="tw_error">
                        {{ form_errors(form.phone) }}
                    </div>
                </div>

                <div class="tw_formItem">
                    {{ form_label(form.photoProfil,null,{
                        'label_attr':{'class':'text-xl'}
                    })}}
                    {{ form_widget(form.photoProfil,{
                        'attr':{}
                    }) }}
                    <div class="tw_error">
                        {{ form_errors(form.photoProfil) }}
                    </div>
                </div>

                <button class="tw_btn w-11/12">Submit</button>

                </div>

            {{ form_end(form) }}

        

    </section>

{% endblock %}
