{% extends 'base.html.twig' %}

{% block title %}Hello TripController!{% endblock %}

{% block stylesheet %}
    {{parent()}}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
{% endblock %}


{% block importmap %}
    {{ importmap(['app','map_afficher'])}}
{% endblock %}


{% block javascripts %}

    {{parent()}}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>


{% endblock %}

{% block body %}

    <section class="mt-32 pb-32">

        {{ form_start(form) }}

        <div class="border-2 rounded-lg w-11/12 bg-lime-100 flex flex-col items-center mx-auto">

        <div class="tw_formItem">
           {{ form_label(form.organizer,null,{
                'label_attr':{'class':'text-xl'}
            })}}
           {{ form_widget(form.organizer,{
                'attr':{'class':'tw_input'}
            })}}
            <div class="tw_error">
                {{ form_errors(form.organizer) }}
            </div>
       </div>
        <div class="tw_formItem">
            {{ form_label(form.state,null,{
                'label_attr':{'class':'text-xl'}
            }) }}
            {{ form_widget(form.state,{
                'attr':{'class':'tw_input'}
            }) }}
            <div class="tw_error">
                {{ form_errors(form.state) }}
            </div>
        </div>
       <div class="tw_formItem">
           {{ form_label(form.name,null,{
               'label_attr':{'class':'text-xl'}
           })}}
           {{ form_widget(form.name,{
               'attr':{'class':'tw_input'}
           }) }}
           <div class="tw_error">
                {{ form_errors(form.name) }}
           </div>
       </div>
        <div class="tw_formItem">
            {{ form_label(form.dateAndTime,null,{
                'label_attr':{'class':'text-xl'}
            }) }}
            {{ form_widget(form.dateAndTime,{
                'attr':{'class':'tw_input'}
            }) }}
            <div class="tw_error">
                {{ form_errors(form.dateAndTime) }}
            </div>
        </div>
        <div class="tw_formItem">
            {{ form_label(form.duration,null,{
                'label_attr':{'class':'text-xl'}
            }) }}
            {{ form_widget(form.duration,{
                'attr':{'class':'tw_input'}
            }) }}
            <div class="tw_error">
                {{ form_errors(form.duration) }}
            </div>
        </div>
        <div class="tw_formItem">
            {{ form_label(form.seats,null,{
                'label_attr':{'class':'text-xl'}
            }) }}
            {{ form_widget(form.seats,{
                'attr':{'class':'tw_input'}
            }) }}
            <div class="tw_error">
                {{ form_errors(form.seats) }}
            </div>
        </div>
        <div class="tw_formItem">
            {{ form_label(form.textNote,null,{
                'label_attr':{'class':'text-xl'}
            }) }}
            {{ form_widget(form.textNote,{
                'attr':{'class':'tw_input'}
            }) }}
            <div class="tw_error">
                {{ form_errors(form.textNote) }}
            </div>
        </div>
        <div class="tw_formItem">
            {{ form_label(form.registrationDeadline,null,{
                'label_attr':{'class':'text-xl'}
            }) }}
            {{ form_widget(form.registrationDeadline,{
                'attr':{'class':'tw_input'}
            }) }}
            <div class="tw_error">
                {{ form_errors(form.registrationDeadline) }}
            </div>
        </div>
        <div class="tw_formItem">
            {{ form_label(form.campus,null,{
                'label_attr':{'class':'text-xl'}
            }) }}
            {{ form_widget(form.campus,{
                'attr':{'class':'tw_input'}
            }) }}
            <div class="tw_error">
                {{ form_errors(form.campus) }}
            </div>
        </div>

        <div class="tw_formItem">
            {{ form_label(form.place, null, {
                'label_attr': {'class': 'text-xl'}
            }) }}
            {{ form_widget(form.place, {
                'attr': {'class': 'tw_input'}
            }) }}
            <div class="tw_error">
                {{ form_errors(form.place) }}
            </div>
        </div>

        <a class="tw_btn w-1/2" href="{{ path('app_place_create') }}">Add a place</a>

        <div id="map" class="h-96 w-11/12 mx-auto cursor-pointer"></div>


        <div class="w-11/12 border-2  rounded-lg flex flex-col items-center overflow-hidden">
            <p id="latitude" class="w-full bg-white text-center border-b-2"></P>
            <P id="longitude" class="w-full bg-white text-center border-b-2"></P>
            <P id="address" class="w-full bg-white text-center border-b-2"></P>
        </div>
  

        <div class="data" data-places="{{ placesJson }}"></div>


        

        <button class="tw_btn w-11/12">Submit</button>
    </div>
    {{ form_end(form) }}

    </section>

{% endblock %}
